body {
    width: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
}

header {
    text-align: center;
    background-image: linear-gradient(#5039b5, #555adf);
    background-repeat: no-repeat;
    background-size: cover;
}

nav {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #6d6394;
    color: rgb(255, 255, 255);
    text-align: center;
}


a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 5px;
}


.container {
    margin-left: auto;
    margin-right: auto;
    min-height: 300px;
}


.wallpaper {
    background-image: url(/images/contactus.png);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

main h1 {
    color: #5039b5;
    text-align: center;
    width: auto;
}

.contact {
    width: auto;
    text-align: center;
    padding-top: 5px;
}

.social a {
    color: #5039b5;
    font-weight: bold;
}


p {
    text-align: center;
}

.contactsection {
    display: grid;
    width: auto;
    align-items: center;
    grid-gap: 3px;
    grid-template-columns: 33.3% 33.3% 33.3%;
    text-align: center;
    padding-bottom: 5px;
    background-image: linear-gradient(#b4aae0, #555adf);
    padding-left: 10%;
    padding-right: 10%;

}

.contactsection {
    align-items: center;
}


form h1 {
    color: #ffffff;
}
footer {
    height: 350px;
    background-color: #6d6394;
    display: grid;

}





h1 {
    color: rgb(255, 255, 255);
    text-align: center;
}

.contactme {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    grid-template-rows: 33.3% 33.3% 33.3%;

}

.contactme a {
    color: #ffffff;
}

.bottomfooter {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-image: linear-gradient(#6d6394, #5039b5);
}

h2 {
    color: rgb(255, 255, 255);
}