body {
    width: auto;
}

.container {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 400px;
}

header {
    text-align: center;
    background-image: linear-gradient(#5039b5, #555adf);
}

nav {
    padding-top: 15px;
    padding-bottom: 10px;
    background-color: #7244e7;
    color: aliceblue;
    text-align: center;
}

a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
}

main {
    background-image: url(/images/background.png);
    min-height: 300px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
}


main h1 {
    font-size: 30px;
    color: #5039b5;
    text-align: center;
}

.herobanner {
    display: flex;
    justify-content: space-between;
}

.herobanner1 {
    flex: 2;
    padding-right: 5%;
}

.herobanner2 {
    flex: 1;
    text-align: center;
}


.secondbanner {
    display: flex;
    justify-content: space-between;
}

.secondbanner1 {
    flex: 2;
    padding-right: 5%;
}

.secondbanner2 {
    flex: 1;
    text-align: center;
}

.cards {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

.card1 {
    flex: 1;


}

.card2 {
    flex: 1;

}

.card3 {
    flex: 1;

}

footer {
    width: auto;
    height: 350px;
    background-color: #7244e7;
    flex: 2;


}

.footernav {
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;

}


h1 {
    color: aliceblue;
    text-align: center;
}

.contactme {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottomfooter {
    background-color: #5039b5;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    color: aliceblue;
}