.container {
    width: auto;
    display: flex;
}

header {
    text-align: center;
    background-image: linear-gradient(#5039b5 , #555adf);
}

nav {
    padding-top: 15px;
    padding-bottom: 10px;
    background-color:#7244e7;
    color: aliceblue;
    text-align: center;

}

a {
    color: aliceblue;
    text-decoration: none;
    padding: 10px;
}

main {
    background-image: url(/images/background.png);
height: 700px;
flex: 2;
}

main h1 {
    font-size: 30px;
    color: #5039b5;
    text-align: center;
    flex: 2;
    justify-content: flex-start;
}

.cards {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
}

.cards1 {
    flex:2;
    justify-content: space-between;
    padding-left: 20px;
}


footer {
    width: auto;
    height: 350px;
    background-color: #7244e7;
    flex:2;

    
}

.footernav {
    color: aliceblue;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    text-decoration: none;

}


h1 {
    color: aliceblue;
    text-align: center;
}

.contactme {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottomfooter {
    background-color:#5039b5;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

h2 {
    color: aliceblue;
}